In [22]:
import pandas as pd
df=pd.read_csv('dataset.csv')
df.head()

   Height(cm)  weight(kg)  Gender
0         180          75    Male
1         165          55  Female
2         170          65    Male
3         160          50  Female
4         175          70    Male

In [24]:
df.columns.isna()

array([False, False, False])

In [25]:
df.describe()

       Height(cm)  weight(kg)
count    6.000000     6.00000
mean   167.500000    60.00000
std      9.354143    11.83216
min    155.000000    45.00000
25%    161.250000    51.25000
50%    167.500000    60.00000
75%    173.750000    68.75000
max    180.000000    75.00000

Prior Probability

In [28]:
df['Gender'].value_counts()

Gender
Male      3
Female    3
Name: count, dtype: int64

In [29]:
male_prob=3/6
female_prob=3/6

Calculate mean and variance

In [31]:
male_data=df[df.Gender=='Male']
female_data=df[df.Gender=='Female']

In [32]:
male_data.describe()

       Height(cm)  weight(kg)
count         3.0         3.0
mean        175.0        70.0
std           5.0         5.0
min         170.0        65.0
25%         172.5        67.5
50%         175.0        70.0
75%         177.5        72.5
max         180.0        75.0

In [34]:
m_h_mean=175
m_h_v=5**2
m_w_mean=70.0
m_w_v=5**2

In [33]:
female_data.describe()

       Height(cm)  weight(kg)
count         3.0         3.0
mean        160.0        50.0
std           5.0         5.0
min         155.0        45.0
25%         157.5        47.5
50%         160.0        50.0
75%         162.5        52.5
max         165.0        55.0

In [35]:
f_h_m=160.0
f_h_v=5.0**2
f_w_m=50.0
f_w_v=5.0**2

For a new sample (Height, Weight)=(172, 68) ,calculate the likelihood for each class using the Gaussian probability density function.

In [39]:
import math
like_prob_m_h = 1 / (math.sqrt(2 * math.pi * m_h_v)) * math.exp(-(172 - m_h_mean)**2 / (2 * m_h_v))
like_prob_m_w = 1 / (math.sqrt(2 * math.pi * m_w_v)) * math.exp(-(68 - m_w_mean)**2 / (2 * m_w_v))

In [40]:
like_prob_m_h,like_prob_m_w

(0.06664492057835993, 0.07365402806066466)

Probability that a given sample is male is given by prior probaility * likelihood probability

In [42]:
prob_m=male_prob*like_prob_m_h*like_prob_m_w
prob_m

0.002454333425189645

In [43]:
like_prob_f_h = 1 / (math.sqrt(2 * math.pi * f_h_v)) * math.exp(-(172 - f_h_m)**2 / (2 * f_h_v))
like_prob_f_w = 1 / (math.sqrt(2 * math.pi * f_w_v)) * math.exp(-(68 - f_w_v)**2 / (2 * m_w_v))

In [44]:
like_prob_f_h,like_prob_f_w

(0.0044789060589685795, 6.945925497132415e-18)

In [46]:
prob_f=female_prob*like_prob_f_h*like_prob_f_w
prob_f

1.5555073897125358e-20

In [47]:
import numpy as np

In [49]:
np.argmax([prob_m,prob_f])

0

The sample (172,68) comes under class Male